@import '../global.scss';

.photoCarousel{
    background-color: $ternaryColor;
    width: 80vw;
    height: 600px;
    padding: 5px;

}

.single-carousel-img{
    height: auto;
    max-height: 600px;
    max-width: 100%;
}