@import '../global.scss';
.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $secondaryColor;
    width: 100%;
    height: 300px;
    padding: 5px;
    margin-bottom: 5px;
    list-style: none;
    .left{
        border: 2px solid black;
        margin-bottom: none;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .right{
        display: flex;
        justify-content: space-evenly;
        border: 2px solid black;
        a {
            padding-left: 15px;
            padding-right: 15px;
            margin-right: 4vw;
            margin-left: 4vw;
            font-size: 30px;
            text-decoration: none;
        }
        a.active, .nav a:hover {
            color: var(--secondary);
        }
    }
}

